
# Deine Supabase URL (Lokal, Self-Hosted oder Cloud)
VITE_SUPABASE_URL=http://localhost:8000
# Der 'anon' / 'public' Key aus deinem Supabase Studio (Settings -> API)
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR...

# Feature Flags
VITE_USE_MOCK_DATA=true
